@use '../utils/mixins' as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__number {
    margin-top: 129px;
  }
  &__text {
    margin: 66px 0 182px 0;
  }
  &__link {
    margin-bottom: 159px;
  }
}

@include mobile {
  .error {
    &__text {
      margin: 11px 58px 133px 90px;
    }
    &__link {
      margin-bottom: 235px;
    }
  }
}
