@use '../utils/variables' as *;

@mixin tablet {
  @media screen and (min-width: $min_tablet) and (max-width: $max_tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin image-responsive {
  max-width: 100%;
  height: auto;
}

@mixin flex_space_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex_space_between_align_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
