$orange: #ff6060;
$grey: #f6f6f6;
$black: #000000;
$white: #ffffff;

$max_width_img: 100%;

$margin_page: 100px;
$margin_mobile: 20px;
$margin_tablet: 25px;

$height_card: 340px;
$width_card: 340px;
$height_card_tablet: 280px;
$width_card_tablet: 280px;
$height_card_mobile: 255px;
$width_card_mobile: 335px;

$border_chevron: 0.3rem;
$size_chevron: 1rem;

$height_avatar: 64px;
$width_avatar: 64px;
$height_avatar_mobile: 32px;
$width_avatar_mobile: 32px;

$height_star: 36px;
$width_star: 36px;
$height_star_mobile: 18px;
$width_star_mobile: 18px;

$max_tablet: 1023px;
$min_tablet: 577px;
$mobile: 576px;
